<div ng-controller="raidersVideo">
    <div ng-if="game">
        <iframe frameborder="0" width="100%" src="http://plat.tgp.qq.com/tgpforum/video/index.html#!/vod/video2/26/b4a8c06e-cbd8-11e6-8bb4-00163eb2caf6?noneedrelation=1" allowfullscreen></iframe>

    </div>
    <div ng-if="tgp">
        <iframe frameborder="0" width="100%" src="http://plat.tgp.qq.com/tgpforum/video/index.html#!/vod/video2/26/b4a8c06e-cbd8-11e6-8bb4-00163eb2caf6?noneedrelation=1" allowfullscreen></iframe>
    </div>
</div>